{
    "name":"gomicrom-web",
    "host":"192.168.1.164",
    "port":8021,
    "env":"dev",
    "tags":[
        "gomicrom",
        "web"
    ],
    "logger":{
        "logFilePath":"./tmp/logs/web-example.log",
        "logLevel":"debug",
        "maxSize":128,
        "maxBackups":30,
        "maxAge":30
    },
    "user_srv":{
        "host":"10.4.7.71",
        "port":50051,
        "name":"gomicrom-srv"
    },
    "redis":{
        "host":"127.0.0.1",
        "port":6379
    },
    "consul":{
        "host":"10.4.7.71",
        "port":8500
    },
    "jaeger":{
        "host":"10.4.7.71",
        "port":6831,
        "name":"gomicrom"
    },
    "amqp":{
        "host":"10.4.7.71",
        "port":5672,
        "user":"admin",
        "password":"123456"
    }
}